body {
  background-image: linear-gradient(#130f40, #130f40, #01579B, #33691E, #3E2723, #3E2723);
  margin-left: 5em;
  margin-right: 5em;
}

h1 {
  color: white;
  display: flex;
  justify-content: center;
}

h2 {
  color: black;
  font-size: 25pt;
  margin-top: -.5em;
}

footer {
  color: white;
  float: right;
  font-weight: bold;
}

#nasaDisplay {
  background-image: url('assets/sky.png');
}